@(menu: Html, header: Html)
<!DOCTYPE html>
<html lang="pt">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Sistema para clinícas médicas">
      <meta name="author" content="Lucas Rafagnin - Isnaldo Matheus">
      <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
      <title>Apollo</title>
      <!-- Bootstrap core CSS -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
      <link href='@routes.Assets.at("js/bootstrap/dist/css/bootstrap.css")' rel="stylesheet" />
      <link rel="stylesheet" href='@routes.Assets.at("fonts/font-awesome-4/css/font-awesome.min.css")'>
      <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/intro.js/introjs.css")' />
      <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/bootstrap.switch/bootstrap-switch.min.css")' />
      <link rel="stylesheet" type="text/css" href='@routes.Assets.at("js/jquery.datatables/bootstrap-adapter/css/datatables.css")' />
      <link href='@routes.Assets.at("css/style.css")' rel="stylesheet" />
   </head>
   <body>
   	  @header
   	  </div>
   	  </div>
   	  @menu
      <div class="page-head">
				 <a class="btn btn-primary btn-lg pull-right" role="button">Saldo atual: R$390,00</a>
         <h2>Saldo financeiro</h2>
         <ol class="breadcrumb">
            <li>Inicial</li>
            <li>Financeiro</li>
            <li class="active">Saldo</li>
         </ol>
      </div>
      <div class="cl-mcont">
         <div class="row-no-margin">
            <div class="col-md-12">
               <div class="block-flat" style="padding:0px 20px; margin-bottom:0px">
                  <div class="content">
                     <div class="table-responsive">
                        <table class="table table-bordered" id="datatable-icons" >
                           <thead>
                              <tr>
                                 <th>Tipo</th>
                                 <th>Data</th>
                                 <th>Descrição</th>
                                 <th>Valor</th>
                                 <th>Opções</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="odd gradeX">
                                 <td>Crédito</td>
                                 <td>01/09/2014</td>
                                 <td>Consulta com o paciente Y</td>
                                 <td>R$140,90</td>
                                 <td></td>
                              </tr>
                              <tr class="odd gradeX">
                                 <td>Crédito</td>
                                 <td>01/09/2014</td>
                                 <td>Consulta com o paciente X</td>
                                 <td>R$140,90</td>
                                 <td></td>
                              </tr>
                              <tr class="odd gradeX">
                                 <td>Débito</td>
                                 <td>20/08/2014</td>
                                 <td>Comprado X remédios</td>
                                 <td>R$390,90</td>
                                 <td></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src='@routes.Assets.at("js/jquery.js")'></script>
      <script src='@routes.Assets.at("js/jquery.select2/select2.min.js")' type="text/javascript"></script>
      <script src='@routes.Assets.at("js/bootstrap.slider/js/bootstrap-slider.js")' type="text/javascript"></script>
      <script type="text/javascript" src='@routes.Assets.at("js/jquery.nanoscroller/jquery.nanoscroller.js")'></script>
      <script type="text/javascript" src='@routes.Assets.at("js/jquery.nestable/jquery.nestable.js")'></script>
      <script type="text/javascript" src='@routes.Assets.at("js/behaviour/general.js")'></script>
      <script src='@routes.Assets.at("js/jquery.ui/jquery-ui.js")' type="text/javascript"></script>
      <script type="text/javascript" src='@routes.Assets.at("js/bootstrap.switch/bootstrap-switch.js")'></script>
      <script type="text/javascript" src='@routes.Assets.at("js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js")'></script>
      <script type="text/javascript" src='@routes.Assets.at("js/jquery.datatables/jquery.datatables.min.js")'></script>
      <script type="text/javascript" src='@routes.Assets.at("js/jquery.datatables/bootstrap-adapter/js/datatables.js")'></script>

      <script type="text/javascript">

         //Add dataTable Icons
         var functions = $('<a class="btn btn-default btn-xs" href="//www.globo.com" data-original-title="Abrir" data-toggle="tooltip"><i class="fa fa-file"></i></a> <a class="btn btn-primary btn-xs" href="#" data-original-title="Editar" data-toggle="tooltip"><i class="fa fa-pencil"></i></a> <a class="btn btn-danger btn-xs" href="#" data-original-title="Deletar" data-toggle="tooltip"><i class="fa fa-times"></i></a>');
         $("#datatable-icons tbody tr td:last-child").each(function(){
         $(this).html("");
         functions.clone().appendTo(this);
         });

         $(document).ready(function(){
         App.init();
         App.dataTables();

         //Horizontal Icons dataTable
         $('#datatable-icons').dataTable();
         });
      </script>

      <script src='@routes.Assets.at("js/bootstrap/dist/js/bootstrap.min.js")'></script>
   </body>
</html>
